<div class="container" >
  <div class="row">
    <div class="col">
    <img src="https://www.pmna.ms.gov.br/assets/icon-header-2998d1f969795877a5e6146bc5d4c9824bf375cabf2440cfebc060d9311b0298.png">
    </div>
  </div>
</div>


<!--Navbar-->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">A CIDADE</a>
    <a class="navbar-brand" href="#">GOVERNO MUNICIPAL</a>
    <a class="navbar-brand" href="#">GABINETE DO PREFEITO</a>
    <a class="navbar-brand" href="#">RECURSOS HUMANOS</a>
    <a class="navbar-brand" href="#">IMPRENSA</a>
    <a class="navbar-brand" href="#">Home</a>

  </nav>
 </div> 
<!--/.Navbar-->